button {
  width: 250px;
  height: 80px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;

}

button:hover {
  background-color: #305bd3;
}

.boton-clic {
  background-color: #06ad00;
}

.boton-reiniciar {
  background-color: #a70109;
}